.custom-arrow img {
    width: 35px;

    background:white;
    cursor: pointer;

      height: auto;

}

.custom-arrow {
transition: transform 0.3s;
}

.custom-arrow:hover {
transform: scale(1.1);
}



